# CRM ClickMenos
CLICKMENOS_BASE_URL=https://buriti.clickmenos.com/api/v2
CLICKMENOS_LOGIN=seu_login
CLICKMENOS_SENHA=sua_senha

# BigQuery
BQ_PROJECT_ID=buriti-marketing-analytics
BQ_DATASET=buriti_marketing_silver
BQ_TABELA=funil_leads
GOOGLE_APPLICATION_CREDENTIALS=C:/Users/pedro.moura/Documents/Big Query Teste/keys/buriti-marketing-analytics-8466b517c505.json
